$bp-lg: 981px;
$bp-md-max: 980px;
$bp-sm-max: 680px;

@mixin up-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin down-md {
  @media (max-width: $bp-md-max) {
    @content;
  }
}

@mixin down-sm {
  @media (max-width: $bp-sm-max) {
    @content;
  }
}
